/* da togliere le altezze */
/* .debug [class*="col-"]{
  background-color: pink;
  border: 1px solid black;
  height: 100px;
}
.debug .h_500{
  background-color:#004AFF;
  height: 400px;
}
.debug .h_300{
  background-color:white;
  height:300px;
  border:1px solid blue;
} */
/* da togliere le altezze */


/* RIUTILIZZABILI */
.clearfix{
  content:"";
  display:table;
  clear:both;
}
.float_left{
  float:left;
}
.bg_color{
  background-color:rgb(212, 218, 230);
}
.bg_color_blue{
  background-color:#004AFF;
}
.bg_color_darkblue{
  background-color:#011C4B;
}
.tit_grey{
  color:rgba(249, 249, 249, 0.66);
}
.tit_blue{
  color:#004AFF;
}
.tit_white{
color:white;
}
.tit_darkblue{
  color:#011C4B;
}
.mb_10{
  margin-bottom:10%;
}
.mt_15{
  margin-top:15%;
}
.mb_2{
  margin-bottom:2%;
}
.p_5{
  padding:5%;
}
.pb_5{
  padding-bottom:5%;
}
.pt_5{
  padding-top:5%;
}
.pt_2{
  padding-top: 2%;
}
.style_h3{
  font-weight:700;
  text-align: center;
}
.style_p{
  color:grey;
  font-weight:700;
  text-align: center;
}
/* nav */
#nav a {
  text-decoration: none;
}
#nav ul {
  list-style: none;
}
#nav ul li {
  display: inline-block;
  margin-right: 10px;
}
.logo_ocean{
  width:60%;
  margin-top:2%;
  margin-left:30%;
}
.nav_center{
  height:30px;
  color:#011C4B;
  padding:2% 15%;
}
.nav_right{
  color:#011C4B;
  padding:2% 15%;
}
.fixed{
  width:100%;
  background-color:white;
  padding-bottom:0px;
  position:fixed;
  top:0;
  left: 0;
  z-index:1;
}
.drop{
  color:#011C4B;
  margin-right: 10px;
}
/* jumbotron */
.sfondo_jumb{
  background-image: url(../img/bg-home-1.jpg);
}
#jumbotron h1{
  font-size: 50px;
  font-weight:600;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom:2%;
}
#jumbotron h6{
  font-size:20px;
  font-weight:400;
  color:rgba(249, 249, 249, 0.66);
  margin:0 10%;
}
.fontdeploy{
  font-size: 30px;
  font-weight:600;
}
.deploy{
  margin-right:10%;
  margin-left: 10%;
  margin-bottom:5%;
  background-color:white;
  border-radius:5%;
}
.btn{
  width: 100%;
}
.bg_btn{
  background-color:rgb(77, 122, 190);
  color:white;
  padding-left:50%;
}
.signup img{
  width: 5%;
}
.agree a{
  color:#004AFF;
  text-decoration: underline;
}
.agree small{
  font-weight:600;
  color:#011C4B;
  padding-left: 25px;
}
/* fine jumbotron */
/* icon */
#icon h5 {
  margin-top:5%;
  text-transform: uppercase;
  font-weight: 600;
  color:grey;
}
.icon{
  width: calc(100% / 6);
  height: 150px;
  line-height: 150px;
  text-align: center;

}
.icon img{
  width: 80%;
}
/* fine icon da aggiustare media screen xs*/

/* deploy */
#deploy{
  margin-top:5%;
}
.drops {
  width:60%;
}
.global {
  width:60%;
}
.list_deploy li a{
  color:grey;
  font-weight:700;
}
.list_deploy li{
  list-style: none;
  border-left: 1px solid grey;
  padding:30% 0;
}
.drops h5{
  font-weight: 600;
  font-size: 20px;
}
.global h5{
  font-weight: 600;
  font-size: 20px;
}
#deploy p{
  padding-bottom: 30px;
  font-size: 10px;
  text-align: justify;
}
/* fine deploy */
/* designed */
#designed img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top:2%;
  padding-right:20%;
  padding-left:20%;
}
#designed .fas::after{
  font-size: 50px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: "\f053";
}
/* end designed */
/* features */
#features img{
  width: 10%;
  padding-top: 10%;
}

/* end features */
/* regions*/

  .boxes{
    padding-top:5%;
    padding-left: 5%;
  }
  .box{


  }
  .box_ul {
    border-bottom: 1px solid white;
  }
  .box ul li{
    display: inline-block;
  }
  .box li{
    text-decoration: none;
  }
  .ams{
    font-size:10px;
    text-align:left;
    font-weight: 600;
    color:white;
    padding-right:60px;
  }
  .city{
    font-size:10px;
    color:white;
    padding-right:100px;
  }
  .speed a{
    font-size:10px;
  }
/* rockerbox */
.sfondo_rocker{
  width: 70%;
  height:300px;
  background-color: green;
  position: relative;
}
.sfondo_rocker img{
  position: absolute;
  top:0;
  left:35%;
}

/* topfooter */
.started{
  position: relative;
  padding-bottom: 5%;
}
.btn{
  width:20%;
  position:absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%, -50%);
}
.btn-account{
  background-color: white;
  border-color: white;
  color:#004AFF;
}

/* bottomfooter */
#bottom_footer img{
  width:10%;
}
#bottom_footer ul li{
  list-style: none;
  color:rgba(249, 249, 249, 0.66);
  margin-left: -30px;
  padding-bottom:5%;
}
#bottom_footer a{
  color:rgba(249, 249, 249, 0.66);
}
.logo_bottomfooter{
  position: relative;
}
.position_logo_bottomfooter{
  position: absolute;
  left:50%;
  transform:translateX(-50%);
  padding-top: 10%;
}

























































































@media screen and (min-width:480px)and (max-width:768px){

  .col-xs-12{
    width: calc(50% / 12 * 12);

  }
}
