.debug [class*="col-"]{
  background-color: pink;
  border: 1px solid black;
  height: 100px;
}
.debug .h_500{
  background-color:blue;
  height: 400px;
}

.debug .h_300{
  background-color:white;
  height:300px;
  border:1px solid blue;
}
/* .icon
questi div devono essere float:left , quando andrò a inserire le img sono da gestire con calc;
nella versione smartphone sono da calcolare al 50% */
/* .drops .global
devono essere con float:left */
